.mainbody {
  width: 85%;
  margin: auto;
}

.mainbody__footer {
  bottom: 0;
  background-color: #007baa;
  position: absolute;
  width: 85%;
}

@media (max-width: 576px) {
  .mainbody {
    width: 100%;
  }
  .mainbody__footer {
    width: 100%;
  }
}
